/* styles.css */
@font-face {
    font-family: 'Glacial';
    src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

#backgroundVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    position: relative;
    right: 3em;
    bottom: 3em;
}

li img {
    position: relative;
    bottom: 3em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}

.content .h1 {
    margin-bottom: 20px;
    letter-spacing: 12px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'GlacialIndifference';
}

.content .h2 {
    font-family: 'Glacial';
    letter-spacing: 5px;
    font-size: 30px;
    position: relative;
    bottom: 1rem;
}

.content p {
    margin-bottom: 30px;
}

button {
    padding: 11px 20px;
    width: 20vw;
    font-size: 1.4vw;
    letter-spacing: 1px;
    color: #fff;
    background-color: #00aaff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-image: linear-gradient(135deg, #5de0e6, #004aad);
    transition: background-image 0.3s ease;
    position: relative;
    bottom: 1rem;
    font-family: 'GlacialIndifference';
}

button:hover {
    background-image: linear-gradient(135deg, #004aad, #5de0e6);
}

button:hover {
    background-color: #0088cc;
}

.test {
    position: fixed;
    top: 15em;
    left: 40.99em;
}

@media (max-width: 768px) {
    .content .h1 {
        font-size: 8vw;
    }

    .content .h2 {
        font-size: 4vw;
    }

    button {
        width: 40vw;
        font-size: 3vw;
    }

}

@media (max-width: 480px) {
    .content .h1 {
        font-size: 10vw;
    }

    .content .h2 {
        font-size: 5vw;
    }

    button {
        width: 60vw;
        font-size: 4vw;
    }
}
